<div class="animate__animated animate__fadeInDown animate__faster">
    <h2>Por País</h2>
    <hr>

    <div class="row">
        <div class="col">
            <!-- Esta escuchando lo que biene del emit de pais-input.component para buscar ese pais -->
            <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar País" (onDebounce)="sugerencias($event)">
            </app-pais-input>
        </div>
    </div>

    <!-- sugerencias o autocomplete -->
    <ul class="list-group" *ngIf="mostrarSugerencias === true">
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
            <a class="nav-link" [routerLink]="['/pais', pais.cca2]">{{pais.name.common}}</a>
        </li>
        <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
            <a class="nav-link">Buscar "{{termino}}"</a>
        </li>
    </ul>


    <hr>
    <div class="alert alert-danger" *ngIf="hayError">
        No se encontro nada con el termino {{termino}}
    </div>

    <div class="row-12 mt-5 " *ngIf="paises.length > 0">
        <div class="col-12">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>